.ayshaText {
    text-align: left;
    padding: 2px;
    border: 1px solid rgb(187, 115, 235);
    background-color:rgb(217, 179, 243) ;
    border-radius: 5px;
    width: 80%;
    margin-top: 5px;
}
.suyeshText {
    text-align: right !important;
    border: 1px solid #60f07f;
    background-color: #aef0bc;
    border-radius: 5px;
    margin-top: 5px;
    width: 78%;
    margin-left: 114px;
    padding-right: 11px;
    
    
}
.chatBox {
    border: 1px solid rgb(106, 173, 182) ;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
}
.head2{
    font-size: 15px;
    font-family: cursive;
    margin-left: 61%;

}
.head1{
    font-size: 15px;
    font-family: cursive;
    

}
